.category-box{
    overflow: hidden;
    border: none;
    padding: 0 !important;
}
.category-box img{
    transition: all ease .5s;
}
.category-box:hover img{
    transform: scale(1.1);
    transition: all ease .5s;
}

.category-box h2{
    font-weight: bolder;
}